  @font-face {
    font-family: 'SourceHanSerifTW-Bold';
    src: url('/font/SourceHanSerifTW-Bold.otf') format('opentype');
  }

  @font-face{
    font-family: 'SourceHanSerifTW-Regular';
    src: url('/font/SourceHanSerifTW-Regular.otf') format('opentype');
  }

  @font-face{
    font-family: 'DFT_S5';
    src: url('/font/DFXingShuStd-W5.otf') format('opentype');
  }
  
  :root{
    /* 導航欄高度 */
    --vp-nav-height: 96px;
    /* logo 高度 */
    --vp-nav-logo-height: 90px;
    /* 滾動條顏色 */
    --scrollbar-color: #ced4d9;
    /* 亮色介面 hover 深度 */
    --vp-c-bg-alt: #d6d6d6;
    /* --vp-font-family-base: 'SourceHanSerifTW-Bold', sans-serif; */
    font-display: swap;
  }

  .dark{
    --vp-c-bg-alt: #0a0a0a;
  }

  html {
    scroll-behavior: smooth;
  }

  .vp-doc p{
    margin: 0;
  }

  .dark{
    --scrollbar-color: #EEF4FA;
  }

  .vp-doc table tbody tr:hover {
    background-color: var(--vp-code-block-bg);
  }

  .main .vp-doc table {
    /* display: table; */
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  div::-webkit-scrollbar,
  aside::-webkit-scrollbar,
  table::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }
  div::-webkit-scrollbar-thumb,
  aside::-webkit-scrollbar-thumb,
  table::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 5px rgba(187, 156, 147, 0.2);
      background: var(--scrollbar-color);
  }
  div::-webkit-scrollbar-track,
  aside::-webkit-scrollbar-track,
  table::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 4px;
      background: transparent;
  }

  @media screen and (min-width: 960px) {
    .VPSidebar .curtain{
      display: none;
    }
    .VPNavBarTitle.has-sidebar{
      background-color:var(--vp-sidebar-bg-color) ;
    }
    .Layout .VPSidebar{
      /* overflow-y: auto; */
      /* margin-top: 96px; */
      /* padding-top: 0; */
      padding-bottom: 20px;
    }
    .VPSidebar .nav .group .item{
        z-index: 1;
    }
  }