  .Layout .VPContent .VPDoc .container{
    max-width: none;
  }

  .Layout .VPContent .VPDoc .container .content{
    max-width: none;
    display: flex;
    justify-content: center;
  }

  .Layout .VPContent .VPDoc .container .content .content-container{
    max-width: none;
  }

  .vp-doc table tbody tr:hover {
    background-color: var(--vp-code-block-bg);
  }

  .main .vp-doc table {
    /* display: table; */
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tk-owo-emotion, .twikoo .OwO-item img{
    width: 100px !important;
  }