/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
.vscode
.env
dist
cache
temp
examples-temp
node_modules
pnpm-global
TODOs.md
*.timestamp-*.mjs
docs/.obsidian
docs/.vitepress/cache
docs/.vitepress/dist
docs/other/news.md
docs/public/json/contributors.json
docs/public/json/badend_list.json
docs/.vitepress/theme/script/wikiLinkIndex.js
/docs/.vitepress/theme/components/private/text-characters-transition
